.list-inline {margin-left: -10px; }
.stat_count {font-size: 20px; font-weight: bold; display: block; }
.stat_label {font-size: 12px; }
.horizontal {display: inline; border-left: 1px solid #AFAFAF; }
.first {border-left: none; padding-left: 0; }
.avatar {float: left; margin-right: 10px; }
.center {float: none; margin: auto; padding-top: 80px; }
.nav-tabs > li {float:none; display:inline-block; *display:inline; zoom:1; }
.nav-tabs { text-align:center; }
