<!DOCTYPE html>
<html>
<head>
  <title>NanoTwitter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
  .center {
     float: none;
     margin: auto;
     padding-top: 80px;
  }
  </style>
</head>
<body>
<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">NanoTwitter by ReptileSplash</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/login">Log in</a></li>
      <li><a href="/user/register">Sign up</a></li>
    </ul>
  </div>
</div>
<div class="container">
	<div class="col-md-3 center">
    <li>Tweet 1</li>
    <li>Tweet 2</li>
    <li>Tweet 3</li>
    <li>...</li>
	</div>
</div>
</body>
</html>
