<h3>Log in to nanoTwitter</h3>
<form action="/auth" method="POST">
	Username:<br />
	<input type="text" name="username" required /><br />
	Password:<br />
	<input type="text" name="password" required /><br />
	<input type="submit" value="Log in" />
</form>
Don't have an account? <a href="/user/register">Sign up here!</a>
