<h3>Profile</h3>
<form method="POST" enctype='multipart/form-data'>
  <input type='file' name='newFile' required />
  <br />
  <input type='submit' value='Change photo' />
</form>
<form method="POST">
  <textarea class="form-control" id="tweet" name="tweet" required></textarea><br />
  <input type='submit' value='Update bio' />
</form>
<h3>Security</h3>
Old password->New password
